.container{
	width:1200px;
	padding: 40px;
	margin: 0 auto;
}
.container,.header,.footer{
	/* for smooth animated effect */
	transition:all .2s linear;
	-moz-transition:all .2s linear;/* firefox */
	-webkit-transition:all .2s linear; /* safari and chrome */
	-o-transition:all .2s linear; /* opera */
	-ms-transition:all .2s linear;
}
.home-bg {
	margin: 0;
	padding: 0;
	background:url(../images/home-bg.jpg) no-repeat center 0px fixed;
	background-size: cover;
}
.product-grids {
	float: left;
	width: 82%;
}
.product-grid {
	width: 27.9%;
	float: left;
	border: 1px solid #F1F1F1;
	padding: 15px;
	margin: 16px 12px 0px 0px;
}
@media all and (max-width:1260px) and (min-width:1024px){
	.container{
		width: 984px;
		padding: 20px;
	}
	/*Artists*/
	.artists {
		padding: 20px;
	}
	.product-grids {
		float: left;
		width: 78%;
	}
	.product-grid {
		width: 26%;
	}
}
@media all and (max-width:1024px) and (min-width:800px){
	.container{
		width:760px; 
		padding:20px;
	}
	.artists {
		padding: 15px;
	}
	.product-grids {
		float: left;
		width: 70%;
	}
}
@media all and (max-width:800px) and (min-width:640px){
	.container{
		width:600px;
		padding:20px;
	}
	.artists {
		padding: 10px;
	}
	.product-grids {
		float: left;
		width: 100%;
	}
	.product-grid {
		width: 25.9%;
	}
	.product-grid:nth-child(4),.product-grid:nth-child(7),.product-grid:nth-child(10){
		margin-right: 0px;
	}
	.product-grid p {
		line-height: 1.5em;
	}
}
@media all and (max-width:640px) and (min-width:480px){
	.container{
		width:440px;
		padding:20px;
	}
	.artists {
		padding: 10px;
	}
	.product-grids {
		float: left;
		width: 100%;
	}
	.product-grid {
		width: 42.9%;
		padding: 10px;
	}
	.product-grid:nth-child(3),.product-grid:nth-child(5),.product-grid:nth-child(7),.product-grid:nth-child(9){
		margin-right: 0px;
	}
	.product-grid p {
		line-height: 1.5em;
	}
	.product-grid h4{
		padding: 12px 0px 10px;
	}
}
@media all and (max-width:480px) and (min-width:320px){
	.container{
		width:300px;
		padding:10px;
	}
	.artists {
		padding: 10px;
	}
	.product-grids {
		float: left;
		width: 100%;
	}
	.product-grid {
		width: 42.9%;
		padding: 10px;
	}
	.product-grid:nth-child(3),.product-grid:nth-child(5),.product-grid:nth-child(7),.product-grid:nth-child(9){
		margin-right: 0px;
	}
	.product-grid p {
		line-height: 1.5em;
	}
	.product-grid h4{
		padding: 12px 0px 10px;
	}
}
@media all and (max-width:320px) and (min-width:240px){
	.container{
		width:220px;
		padding:10px;
	}
	.artists {
		padding: 10px;
	}
	.product-grids {
		float: left;
		width: 100%;
	}
	.product-grid {
		width: 42.9%;
		padding: 10px;
	}
	.product-grid:nth-child(3),.product-grid:nth-child(5),.product-grid:nth-child(7),.product-grid:nth-child(9){
		margin-right: 0px;
	}
	.product-grid p {
		line-height: 1.5em;
	}
	.product-grid h4{
		padding: 12px 0px 10px;
	}
}